.add_activity_stats{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20pt;
  color: #fff;
}
.add_activity_stats h3{
  margin-left: 15pt;
  padding-bottom: 7pt;
}
.stat_inline{
  display: flex;
  flex-direction: row;
}
.list_stat_item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 20pt 0;
}
.list_stat_item p{
  font-weight: 600;
}
.list_stat_item_date{
  margin-left: 10pt;
}
