ion-navbar{
  height: 100pt;
  height: 60pt;
}
.toolbar-background-md{
  background: #3AA66C;
}
a{
  text-decoration: none;
}
.inf_text{
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 38px;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5438);
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
